table{
    align-content: center;
    background-color: white;
    border:3px solid black;
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
  }
  th, td {
    align-content: center;
    background-color: white;
    border:3px solid black;
    border-collapse: collapse;    
  }
  h1
  {
      color: white;
  }
  body{
    position: absolute;
    top: 10.4%;
    left: 0;
    right: 0;
    bottom: 0; 
    overflow: auto;
    background: rgb(255, 128, 43);
    text-align: center;

    padding: 0;
    margin: 0;
}