<p>register works!</p>

<body>
  <div class="overall">
    <h1>Register</h1>
    <form name="addForm" #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
      <div>
        <input id="username" ngModel name="username" type="text" placeholder="Username" required>
      </div>
      <div>
      <input id="password" ngModel name="password" type="password" placeholder="Password" required>
    </div>
    <div>
      <input id="email" ngModel name="email" type="text"  placeholder="Email" required>
    </div>
      <input id="mobile"ngModel name= "mobile"type="number"  placeholder="Mobile" required>
      <div>
      <button [disabled]="addForm.invalid" type="submit"> Submit </button>
    </div>
    </form>
  </div>
</body>